# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
dist/

# Tauri
src-tauri/target/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
/target
Cargo.lock

# Mod build caches
doofie-mod/.gradle/
doofie-mod/build/
"Client Mod/"

# Local Netlify folder
.netlify

nrc-patch-tmp/
nrc-patch-tmp2/
instances/
doofie-mod/net/
*.exe
